<div>
  <div>
    <%= button_to "Signout", destroy_user_session_path, :method => :delete %>
    <h1>Book List</h1>
    <%= link_to 'Create Book', new_book_path%>
  </div>
  <section>
    <%if @books.empty? %>
      <p> No book found</p>
    <%else%>
      <%@books.each do |book| %>
        <div class='mt-8'>
          <a href='<%= book_path(book)%>'> <%= book.name %> </a>
          <p> <%= book.description %> </p>
          <p> <%= book.release %> </p>
          <div>
            <%= link_to 'Edit', edit_book_path(book)%>
            <%= button_to "delete", book_path(book), :method => :delete %>
          </div>
        </div>
      <%end%>
    <%end%>
  </section>
</div>
